<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
  <div class="col-9">
      <h4 style="color: rgb(120,120,120); margin-bottom: 4px;">
      {{project['proj_id']}}
    </h4>
    <div>
      <b>Location: </b> {{project['proj_county']}}, {{project['proj_state']}}
    </div>
    <div>
      <b>Available Acres: </b> {{project['proj_show_acres']}}
    </div>
    <div>
      <b>Type: </b> {{project['proj_type']}}
    </div>  
    <div>
      <b>Description: </b> {{project['proj_description']}}
    </div>  
    <div>
      <b>Link: </b> {{project['proj_image']}}
    </div>
  </div>
  <div class="col-3 padding-right: 16px">
    <a href="/projects/{{project['proj_id']}}" type='button' class="btn btn-primary">More</a> 
  </div>
</div>