<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
  <div class="col-9">
      <h4 style="color: rgb(120,120,120); margin-bottom: 4px;">
      {{project['project_id']}}
    </h4>
    <div>
      <b>Location: </b> {{project['project_county']}}, {{project['project_state']}}
    </div>
    {% if 'project_acres' in project %}
      <div>
        <b>Raw Acres: </b> {{project['project_acres']}}
      </div>
    {% endif %}
    <div>
      <b>Description: </b> {{project['project_description']}}
    </div>  
    <div>
      <b>Link: </b> {{project['project_image']}}
    </div>
  </div>
  <div class="col-3 padding-right: 16px">
    <a href="mailto:info@brightcleanfuture.com?subject=Interest in {{project['project_name']}} project." ">Interested</a> 
  </div>
</div>